<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AIM.Annotation.Configuration.AimSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AIM.Annotation.Configuration.AimSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AIM.Annotation.Configuration.AimSettings>
            <setting name="SaveXmlToDesktop" serializeAs="String">
                <value>False</value>
            </setting>
        </AIM.Annotation.Configuration.AimSettings>
    </applicationSettings>
    <userSettings>
        <AIM.Annotation.Configuration.AimSettings>
            <setting name="SendNewXmlAnnotationsToGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoreXmlAnnotationsLocally" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoreXmlInMyDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalAnnotationsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserRoleInTrial" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNumberWitinRoleOfClinicalTrial" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RequireUserInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireMarkupInAnnotation" serializeAs="String">
                <value>True</value>
            </setting>
        </AIM.Annotation.Configuration.AimSettings>
    </userSettings>
</configuration>
