<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nullstack.ClearCanvas.DevTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nullstack.ClearCanvas.DevTools.Config.DebugToolConfigSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nullstack.ClearCanvas.DevTools.Properties.Settings>
            <setting name="LogViewerAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewerWindowSize" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="LogAdvanceLines" serializeAs="String">
                <value>5</value>
            </setting>
        </Nullstack.ClearCanvas.DevTools.Properties.Settings>
        <Nullstack.ClearCanvas.DevTools.Config.DebugToolConfigSettings>
            <setting name="LogViewerAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogWindowSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="LogAdvanceLines" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogTailSize" serializeAs="String">
                <value>4096</value>
            </setting>
        </Nullstack.ClearCanvas.DevTools.Config.DebugToolConfigSettings>
    </userSettings>
</configuration>